/* src/App.css */

/* Estilos para los formularios */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadir sombra para mejor visibilidad */
}

/* Márgenes para los div */
div {
  margin-bottom: 1em;
}

/* Estilos para las etiquetas */
label {
  margin-bottom: 0.5em;
  color: #333333;
  display: block;
}

/* Estilos para los inputs */
input {
  border: 1px solid #cccccc;
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5em;
}

/* Estilos para los botones */
button {
  padding: 0.7em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin-right: 0.5em; /* Añadir margen entre botones */
}

button:last-child {
  margin-right: 0; /* Elimina margen derecho del último botón */
}

/* Estilos para los contenedores */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container button {
  margin-bottom: 1em; /* Añadir margen inferior entre botones */
}

/* Estilos para los mensajes */
.message {
  color: green;
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
  background-color: #e7f5e6; /* Fondo verde claro */
  padding: 0.5em;
  border: 1px solid green;
  border-radius: 0.5em;
}

/* Estilos para la lista de productos */
.product-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

/* Estilos para cada item de producto */
.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  cursor: pointer;
}

/* Estilos para las imágenes de producto */
.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1em;
  border-radius: 0.5em;
}

/* Estilos para los detalles de producto */
.product-details {
  flex: 1;
}

.product-details h3 {
  margin: 0 0 0.5em 0;
}

.product-details p {
  margin: 0;
  color: #555;
}

/* Título centrado */
h2 {
  text-align: center;
  margin-bottom: 1em;
}

/* Botón para agregar productos */
.add-product-button {
  display: block;
  margin: 1em auto;
  padding: 0.7em 1.5em;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 16px;
}

.add-product-button:hover {
  background-color: #218838;
}

/* Estilos para los detalles del producto */
.product-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

.product-detail img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5em;
}

.product-detail p {
  color: #555;
  margin: 0.5em 0;
}

/* src/App.css */
.dropzone {
  border: 2px dashed #007BFF;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.dropzone p {
  margin: 0;
  font-size: 16px;
}

.preview {
  margin-top: 20px;
  max-width: 100px;
  max-height: 100px;
}
