/* src/App.css */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

div {
  margin-bottom: 1em;
}

label {
  margin-bottom: .5em;
  color: #333333;
  display: block;
}

input {
  border: 1px solid #CCCCCC;
  padding: .5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  border-radius: .5em;
}

button {
  padding: 0.7em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: .5em;
  cursor: pointer;
  margin-right: 0.5em; /* Agregar margen entre los botones */
}

button:last-child {
  margin-right: 0; /* Elimina el margen derecho del último botón */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container button {
  margin-bottom: 1em; /* Margen inferior entre los botones */
}
